/**
 * @page Home Page
 */


/* Hero
/* -------------------------------------------------------------------------- */
.hero {
  position: relative;
  height: 100vh;
  background-image: url('../img/hero-bg.jpg');
  background-size: cover;
  overflow: hidden;
}

.hero-pattern {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero-pattern__image {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('../img/hero-pattern.png');
  background-size: cover;
  mix-blend-mode: screen;
}

.hero-masthead {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.hero-masthead__logo {
  margin-top: 0;
  margin-bottom: $spacing-8;
}

.hero-masthead__logo img {
  display: block;
  width: 450px;
}

.hero-masthead__dateline {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 2;
}

.hero-footer {
  position: absolute;
  left: $spacing-6;
  right: $spacing-6;
  bottom: $spacing-6;
}

.hero-footer__chevron {
  @include m-button-unstyled;
  margin: 0 auto;
  display: block;
  margin: 0 auto;

  &:focus {
    outline: 2px solid rgba($color-primary, 0.2);
  }
}

.hero-footer__chevron .icon {
  width: 14px;
  height: 14px;
}


/* About DE
/* -------------------------------------------------------------------------- */
.about-de {
  padding-top: 240px;
  color: rgba(white, 0.7);
  overflow: hidden;
}

.about-de-pattern {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-20%, -30%);
  width: 460px;
  z-index: 1;
}

.about-de-body {
  position: relative;
  z-index: 2;
}

.about-de-body__pullout {
  font-size: $font-size-3;
  font-weight: bold;
  color: white;
}

.about-de-areas {
  @include m-list-unstyled;
}

.about-de-areas__item {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-4;
}

.about-de-areas__icon {
  position: relative;
  width: 48px;
  height: 48px;
  border: 2px solid $color-primary;
  border-radius: 50%;
  margin-right: $spacing-5;
}

.about-de-areas__icon .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
}

.about-de-areas__title {
  font-weight: bold;
  color: white;
}

/* Article Listings
/* -------------------------------------------------------------------------- */
.article-section {
  overflow: hidden;
}

.article-item-list {
  position: relative;
  margin-left: -$spacing-4;
  margin-right: -$spacing-4;
}

.article-item {
  padding: $spacing-4;
}

.article-item__image {
  margin-bottom: $spacing-4;
}

.article-item__image img {
  display: block;
  max-width: 100%;
}

.article-item__details {
  color: white;
}

.article-item__details time {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  display: block;
  margin-bottom: $spacing-2;
  font-weight: bold;
}

.article-item__details p {
}

// Controls
.article-item-control {
  @include m-button-unstyled;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: $color-primary;
  display: block;
  width: 48px;
  height: 48px;
  font-size: 0;
  z-index: 10;
  transition: 0.3s linear all;
  box-shadow: 0 2px 4px rgba(black, 0.2);
}

.article-item-control {
  &.is-next {
    right: calc(-48px + #{$spacing-6 * -1});
  }
  &.is-prev {
    left: calc(-48px + #{$spacing-6 * -1});
  }
  &:focus {
    outline: 2px solid rgba($color-primary, 0.3);
  }
}

.article-item-control.slick-disabled {
  opacity: 0;
  visibility: hidden;
}

// Slick Overrides
.article-item-list .slick-list {
  overflow: visible !important;
}

.article-item-list .slick-slide {
  opacity: 0.3;
  transition: 0.3s linear opacity;
}

.article-item-list .slick-active {
  opacity: 1;
}


/* Agenda Section
/* -------------------------------------------------------------------------- */
.agenda-section {
  padding-bottom: 0;
  position: relative;
  z-index: 1;
}

.agenda-container {
  background-color: #ebebeb;
  padding: $spacing-8;
}

.agenda-item-list {
  @include m-list-unstyled;
  margin: 0 #{-$spacing-2} $spacing-4;
}

.agenda-item-list > li {
  padding: 0 $spacing-2;
}

.agenda-item {
  @include m-button-unstyled;
  text-align: left;
  background-color: white;
  margin-bottom: $spacing-4;
  padding: $spacing-4;
  display: flex;
  align-items: center;

  &:focus { outline: 3px solid $color-border-l2; }
}

.agenda-item__header {

}

.agenda-item__type {
  color: rgb(180, 180, 180);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  display: block;
  letter-spacing: 1px;
  margin-bottom: $spacing-1;
}

.agenda-item__title {
  color: $color-text;
  font-weight: bold;
  margin-bottom: 0;
}

.agenda-item__icon {
  flex-shrink: 0;
  position: relative;
}

.agenda-item__icon .icon {
  fill: rgb(220, 220, 220);
  width: 48px;
  height: 48px;
}


/* Speakers Section
/* -------------------------------------------------------------------------- */
.speakers-section {
  background-color: white;
  margin-top: -120px;
  padding-top: 240px;
}

.speakers-item-list {
  @include m-list-unstyled;
}

.speakers-item {
  @include m-button-unstyled;
  text-align: left;
  margin-bottom: $spacing-4;
}

.speakers-item__profile {
  width: 100%;
  position: relative;
  margin-bottom: $spacing-4;
}
.speakers-item__profile img {
  max-width: 100%;
}

.speakers-item__logo {
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 60px;
  height: 60px;
}

.speakers-item__details {
  font-size: 16px;
}

.speakers-item__details small {
  font-size: $font-size-1;
}

.speakers-info {
  background-color: $color-secondary;
  background-image: url('../img/pattern-02.png');
  background-repeat: no-repeat;
  background-position: top left;
  padding: $spacing-6;
  color: white;
}

.speakers-info p:last-child {
  margin-bottom: 0;
}