/**
 * @component Button
 * @overrides Bootstrap 
 */

.btn {
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  padding: $spacing-2 $spacing-6;
}

/* Color Overrides
/* -------------------------------------------------------------------------- */
.btn-primary {
  background-color: $color-primary;
  border-color: $color-primary;
}
.btn-primary:hover {
  background-color: $color-primary-d1;
  border-color: $color-primary-d1;
}
.btn-primary:focus {
  outline: 3px solid rgba($color-primary, 0.2);
  box-shadow: none;
}


/* Property Overrides
/* -------------------------------------------------------------------------- */
.btn.with-shadow {
  box-shadow: 0 2px 4px rgba(black, 0.2);
}